
@import url('https://fonts.googleapis.com/css?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bahianita|Montserrat|Quicksand|Raleway|Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

$font-factor:1vw;

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  color:#ffd783;
  font-size:calc(7px + 1vw);
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(-180deg,#213F66,#19355a)
}

section{
  margin-bottom:20px;
}

h1{
  font-size:2.5em;
  margin:0;
  color:#fff284;
  font-weight: inherit;
}

h2{
  font-size: 1.1em;
  margin:0;
}

#root{
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}


// INTRO

#intro-section{
  width:100vw;
  height:100vh;
  max-height: 800px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

#intro-section h1{
  //font-family: 'Quicksand', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'share Tech', sans-serif;
  //font-family: 'Squada One', sans-serif;
  font-size: 3em;
}

#intro-section nav{
  width:100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  font-size:0.7em;
}

#title{
  display:flex;
  flex-direction: column;
  justify-content: center;;  
  align-items: space-between;
  margin:20px 10px 20px 10px;
}


#sub-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icons{
  padding: 5px;
}

#profile-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white;
  font-size:1em;
  max-width: 1200px;
}

#profile-info img{
  border-radius: 50%;
  border:2px solid white;
  display: block;
  height:80%;
  max-width: 500px;
  box-shadow: 0px 0px 40px rgba(255,255,255,0.3);
}

#resume{
  margin:20px;
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height:150px;
}


// PORTIFOLIO

#portfolio-section{
  
  padding-top:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

#portfolio-items{
  display:flex;
  flex-wrap: wrap;
  color: white;
  text-align: left;
  font-size: 0.9em;
  margin-top:10px;
}

.portfolio-item{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: rgba(0,0,0,0.2);
  padding:10px;
  margin:15px;
}

.portfolio-item-data{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width: 100%;
  padding:10px;
}

.portfolio-item-data *{
  margin-bottom:10px;
}

.portfolio-item-title{
  font-size: 20px;
}

.portfolio-item-skills{
  font-size: 14px;
  text-decoration: underline;
}

.portfolio-item-description{
  font-size: 16px;
}

.portfolio-image{
  width: 100%;
}


@media (max-width:550px){ 

  #intro-section nav{
    font-size:1.4em;
  }

  #profile-info{
    flex-direction: column;
  }

  #profile-info img{
    height: auto;
    width:50%;
  }

  #resume{
    font-size: 1.1em;
    align-items: center;
  }

  .portfolio-item-data{
    align-items:center;
    text-align: center;
    margin:0;
  }

  /*.portfolio-item-title{
    font-size: 1.4em;
  }
  
  .portfolio-item-skills{
    font-size: 0.9em;
  }

  .portfolio-item-description{
    font-size: 1.5em;
  }*/
}